body {
  font-family: "Comic Sans MS";
  font-size: 1em;
  color:#261411;
  background-color:#fff8f7 ;
}

h2 {
  font-size: 1.2em;
  color: #261411;
  font-weight: 900;
  padding-top: 0.8em;
}

#banner {
  background-image: linear-gradient(rgba(255,255,255, 0.5),rgba(255,255,255,0.5)), url("banner.jpg");
  background-size: cover;
  text-align: center;
  padding: 5em;
}

#banner h1 {
  padding-bottom: 1.2em;
  color: #261411;
  font-size: 2em;
  font-family: "Lucida Calligraphy" ;
}
#banner a {
  background-color:#261411 ;
  color: #fff8f7;
  font-size: 1em;
  padding: 0.6em;
  text-decoration:none;
  border-radius: 5px;
  border: 1px solid #fff8f7;

}
#banner a:hover {
  color: #f98d7a;
  text-decoration: none;
  border: 1px solid #f98d7a;
}

footer {
  background-color: #261411;
  color: #fff8f7;
  padding: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  padding-bottom: 0.3em;
}

.tag {
  box-shadow: 0 0 15px rgba(38,20,17,0.2);
  width: 20em;
  border-radius: 5px;
}

.tag h3 {
  color: #f98d7a;
  font-size: 1.1em;
}

footer p {
  margin-right: 0.4em;
}
footer a {
  color: #fff8f7;
  font-size: 1.5em;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

footer a:hover {
  color: #f98d7a;
}
