
.brownbutton {
  background-color:#050404;
  color: #fff8f7;
  font-size: 1rem;
  padding: 0.6em;
  border-radius: 5px;
  border: 1px solid #fff8f7;
}

.brownbutton:hover {
  border: 1px solid #E3170A;
}
