.choices {
  display: flex;
  justify-content: center;
  margin: 0em 0em 3em 0em;
  font-weight: bold;
}

.link {
  margin: 0em 1em;
  color: #050404;
  font-size: 1em;
}

.link:hover {
  color:#E3170A;
}

.selected {
  color: #E3170A;
}

@media (min-width: 100px) and (max-width: 665px) {
  .choices {
    display: flex;
    justify-content: center;
    margin: -2em 0em 2.6em 0em;

  }
}
