.choices {
  display: flex;
  justify-content: center;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: -2.5em;
  margin-bottom: 2.1em;
  font-weight: bold;
}

.choices .selected {
  color: #f98d7a;
}
