footer {
  background-color: #050404;
  color: #fff8f7;
  padding: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0em;
}

footer p {
  margin-right: 0.4em;
}

footer a {
  color: #fff8f7;
  font-size: 1.5em;
  margin: 0em 0.4em;
}

@media (min-width: 100px) and (max-width: 665px) {
  footer p {
    font-size: 0.9em;
  }

  footer a {
    font-size: 0.9em;
  }
}
