#navbar {
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-bottom: 3em;
}

#navbar p {
  font-weight: bold;
}
