#navbar {
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 0.8em;
  margin-bottom: 2.5em;
}

#navbar a {
  font-size: 1em;
}

.link_index {
  color:#050404;
  font-weight: 700;
}

@media (min-width: 100px) and (max-width: 665px) {
  #navbar a {
    font-size: 0.9em;
  }
}
