#navbar {
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8em;
  margin-bottom: 3.5em;
}

#navbar a {
  font-size: 1em;
  margin-left: 0.8em;
}

.link_index {
  color:#050404;
  font-weight: 700;
}

@media (min-width: 100px) and (max-width: 665px) {

  #navbar {
    padding: 0.7em;
  }

  #navbar a {
    font-size: 0.8em;
    margin-left: 0em;
  }
}
