.products {
  flex-grow: 1;
  display: grid;
  grid-gap: 1em;
  justify-items: center;
}

.product {
  width: 18em;
}

.product img {
  width: 17em;
  height: 14em;
  padding: 0.5em;
}

.product h3 {
  text-align: center;
  margin: -0.1em 0em 1em 0em;
}



/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 665px) {
  .products {
    grid-template-columns: 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 665px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1000px) {
  .products{
    grid-template-columns: 1fr 1fr 1fr;
  }

}
