.products {
  display: flex;
  justify-content: space-evenly;
}

.product {
  box-shadow: 0 0 15px rgba(38,20,17,0.1);
  border-radius: 5px;
  background-color: #fcfcfc;
}

.product img {
  width: 23em;
  height: 18em;
  padding: 0.5em;
}

.product h3 {
  text-align: center;
  margin-top: -0.1em;
  margin-bottom: 1em;
  font-size: 1.1em;
}
