.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 1em;
}

.lightcard img {
  width: 23em;
  height: 18em;
  padding: 0.5em;
}

.lightcard h3 {
  text-align: center;
  margin: -0.1em 0em 1em 0em;
  font-size: 1.1em;
}
