.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  max-width: 70em;
  margin: auto;
}

.tag {
  width: 20em;
  margin-bottom: 1em;
  padding: 0.5em;
}
