.talk {
  width: 54em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin: auto;
  margin-bottom: 1.5em;
}

.talk img {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}

.speech {
  text-align: center;
  width: 45em;
}

.person {
  color: #f98d7a;
  text-align: right;
}
